[alias]
  s = status -sb
  st = status -sb
  d = diff
  co = checkout
  cob = checkout -b
  br = branch
  last = log -1 HEAD
  cane = commit --amend --no-edit
  lo = log --oneline -n 10
  pr = pull --rebase
  rh=reset --hard
  remotes=remote -v
  fetchall=fetch --all
[user]
	email = franck.grenier@jurihub.fr
	name = Franck Grenier
[rerere]
	enabled = true
[core]
	autocrlf = input
